<header class="navbar-c">
  <!-- Navbar -->
  <header class="navbar-c">
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light scrolling-navbar white">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/">
    <img alt="logo api store" src="/img/logo.png" class="logoApiStore">
    
    </a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto ">

        <li class="nav-item cart-item mr-3">
          <a class="nav-link dark-grey-text font-weight-bold waves-effect waves-light" href="" data-toggle="modal"
            data-target="#cart-modal-ex">
            <img src="/img/shopping-cart.png">
            <span class="clearfix d-none d-sm-inline-block">Cart</span>
          </a>
        </li>

 <li class="nav-item cart-item mr-3">
          <a class="nav-link dark-grey-text font-weight-bold waves-effect waves-light" href="/" data-toggle="modal"
            data-target="#cart-modal-ex">
            <img src="/img/store.png">
            <span class="clearfix d-none d-sm-inline-block">Products</span>
          </a>
        </li>

 <li class="nav-item cart-item mr-3">
          <a class="nav-link dark-grey-text font-weight-bold waves-effect waves-light" href="/chat" data-toggle="modal"
            data-target="#cart-modal-ex">
            <img src="/img/bubble-chat.png">
            <span class="clearfix d-none d-sm-inline-block">Chat</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
    <!-- Navbar -->
    <script src="https://kit.fontawesome.com/b926aedcdc.js" crossorigin="anonymous"></script>
    <script>
      function updateCartButton() {
        const cartId = localStorage.getItem('cartId');

        const cartLink = document.querySelector('.cart-item .nav-link');
        if (cartId === null) {
          null;
        } else {

          cartLink.href = `/view/cart/${cartId}`;
        }
      }
      updateCartButton();
      window.addEventListener('storage', () => {
        updateCartButton();
      });
    </script>