        <div class="d-flex align-items-center notFound justify-content-center vh-100 ">
            <div class="text-center ">
                <h1 class="display-1 fw-bold">403</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> {{title}}.</p>
                <h3 class="text-center">
                     {{msg}}
                  </h3>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>