<div class='hero-image container mt-3 card container'>
  <div class='hero-text'>

    <form onsubmit='send(event)'>
      <input id='name' type='text' name='form-name' placeholder='Name' />
      <input
        id='lastname'
        type='text'
        name='form-last-name'
        placeholder='Lastname'
      />
      <input
        id='email'
        type='text'
        name='form-email'
        placeholder='Email'
      />
      <input
        id='password'
        type='password'
        name='form-password'
        placeholder='Password'
      />
 
        <button
              type='submit'
              class='btn btn-primary'
              id='registerBtn'
            >Register</button>
    </form>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='js/register.js'></script>