<div class='hero-image container mt-3 card container'>
  <div class='hero-text'>

    <form onsubmit='send(event)'>
      <input id='form-name' type='text' name='form-name' placeholder='Name' />
      <input
        id='form-last-name'
        type='text'
        name='form-last-name'
        placeholder='Lastname'
      />
      <input
        id='form-email'
        type='text'
        name='form-email'
        placeholder='Email'
      />
      <input id='form-edad' type='number' name='form-edad' placeholder='Age' />
      <input
        id='form-password'
        type='password'
        name='form-password'
        placeholder='Password'
      />
      <input class="btn-primary" type='submit' value='Register User' />
    </form>
    <p id='usuario-id'></p>
  </div>
</div>
<script src='js/register.js'></script>